/* CSS for the admin pages */

/* Admin Control Panel */
.box-panel section {
	padding: 16px 0;
}

.box-panel h1,
.box-panel h3 {
	margin: 0 16px 8px;
}

.icon-label-h {
	padding: 4px 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color:  #545151;
	font-weight: 500;
	background-color: #E3E1E1
}

a .icon-label-h {
	background-color: transparent;
	font-weight: 400;
}

.icon-label-h:hover {
	background-color: #E3E1E1;
}

.icon-label-h img {
	margin-right: 8px;
}

#version {
	margin: -16px 0 24px;
	font-size: var(--font-s);
	color: var(--grey700);
}

/* TABLE LAYOUT & STYLE */

.box-table {
	display: flex;
	position: relative;
	overflow:hidden;
	max-width: calc(100vw - 337px);
	min-height: 20px;
	margin-bottom: 24px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
}

.scroll-h {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	overflow-x: scroll;
	padding: 8px 16px 16px;
	width: 100%;
}

.box-table table {
	border-collapse: collapse;
	border-left-style: hidden;
	border-right-style: hidden;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

.box-table th {
	border: 1px solid #E3E1E1;
	padding: 5px 8px 6px;
	text-align: left;
	color: #8b8989;
	font-size: 0.875rem;
	font-weight: 400;
	white-space: nowrap;
}

.box-table tr {
	height: 32px;
}

.box-table td {
	border: 1px solid #E3E1E1;
	padding: 5px 8px 6px;
	text-align: left;
	color: #545151;
	font-size: 0.875rem;
	font-weight: 400;
	white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

.box-table input[type=text] {
	padding: 4px 0;
	margin: auto;
	border: solid 1px transparent;
	border-radius: 4px;
	font-size: 0.75rem;
	width: 100%;
	background-color: transparent;
	align-self: center;
}

.box-table input[type=text]:hover {
	border: solid 1px #E3E1E1;
}

.box-table .disabled-text {
	color: #8b8989;
	font-style: italic;
}

#section-table .box-table #entry-id {
	min-width: 100px;
}

#section-table .box-table .scroll-h div {
	min-width: 16px;
}

/* Form and Labels */

.form-layout-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.form-layout-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
}

.form-label-wrapper {
	margin: 0 0 4px;
}

.form-label {
	font-size: 0.875rem;
	font-weight: 500;
}

.form-input {
	margin: 0;
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid #E3E1E1;
	font-size: 1rem;
}

/* ----- ADMIN TABS -----*/
/* Company Tab */
#section-table #box-table .scroll-h table .logo-small {
	margin: auto;
}

@media screen and (max-width: 800px) {
	.box-table {
		max-width: 100vh;
	}
}