/* CSS for the company profile page */

/* companyPanel Sections */ 

.company-about {
	align-items: center
}

.company-about h1 {
	margin-top: 8px;
	text-align: center;
}

.company-about li {
	display: inline;
	margin: -4px 16px 0 0
}

.company-about li:last-child {
	margin-right: 0;
}

.company-description p {
	text-align: left;
	margin: 0;
	line-height: 1.5;
}

.company-contact ul {
	display: flex;
	justify-content: center;
}

#last-updated {
	margin: -16px 0 24px;
	font-size: var(--font-s);
	color: var(--grey700);
}

/* Instagram Card */

.instagram .button-icon {
	z-index: 1;
	position: absolute;
	right: 24px;
	bottom: 24px
}

.instagram-info {
	margin: 16px;
	max-width: 40ch
}

.instagram-info ul {
	padding-inline-start: 0;
	display: flex;
	margin-bottom: 0
}

.instagram-info li {
	display: flex;
	margin-right: 24px;
}

.instagram-info .number {
	margin-bottom: 4px;
	font-size: var(--font-l);
	font-weight: 500;}

.instagram-info .text {
	font-size: var(--font-s)}

.instagram-info a:hover {
	text-decoration: underline;
}

.instagram-gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white)
}

.instagram-row {
	display: flex;
	justify-content: space-between;
	height: 33%
}

.instagram-picture {
	margin: 0px;
	height: 100%;
	width: 49.7%
}

.instagram-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover
}