/* Real submit button */
.button-filter {
	padding: 8px 9px 8px 30px;
	background-image: url(/static/icon/filter.svg);
	background-size: 24px 24px;
	background-position: left 4px center;
	background-color: white;
	background-repeat: no-repeat;
	font-size: 1rem;
	font-weight: 500;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 8px;
}

/* Search */
.search-result-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 200px;
	background-color: black;
	background-image: url(/static/logo/background-v2.1-dark.svg);
	color: white;
	border-radius: 8px;
	margin-bottom: 16px;
	padding: 16px;
}

.search-result-box h2 {
	margin: 0;
}

.search-result-box p {
	margin: auto 0 8px;
}