/* CSS for the webapp */

/* https://fonts.googleapis.com/css2?family=Roboto (latin) */
@font-face {
	font-family: "Roboto";
	font-weight: 400; /* regular (normal) */
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format("woff2"),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5g.woff) format('woff')
}

/* https://fonts.googleapis.com/css2?family=Roboto:wght@500 (latin) */
@font-face {
	font-family: "Roboto";
	font-weight: 500; /* medium */
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format("woff2"),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAA.woff) format('woff')
}

/* https://fonts.googleapis.com/css2?family=Roboto:wght@700 (latin) */
@font-face {
	font-family: "Roboto";
	font-weight: 700; /* bold */
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format("woff2"),
		url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAA.woff) format('woff')
}

/* VARIABLES */
:root {
	/* Colour */
	--black: #161313;
	--grey700: #545151;
	--grey500: #8F8B8B;
	--grey200: #E6E2E2;
	--grey50: #FAFAFA;
	--background: #f6f6f6;
	--white: #FFFFFF;

	--red800: #BE3C32;
	--red500: #EC5540;

	--azure700: #527BCC;

	/* Font size */
	--font-xxs: 0.625rem;
	--font-xs: 0.75rem;
	--font-s: 0.875rem;
	--font-m: 1rem;
	--font-l: 1.125rem;
	--font-xl: 1.5rem;
	--font-xxl: 1.75rem;
}

/* GENERAL BODY */

html {
	scroll-behavior: smooth
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	color: var(--black);
	background-color: var(--background);
	margin: 0;
	justify-content: center;
	align-items: center;
	padding: 0 16px;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
}

hr {
	background-color: var(--grey200);
	width: 100%;
	margin: 0;
	border: 0;
	height: 1px;
}

h1 { /* Title */
	font-size: var(--font-xl);
	line-height: 1.3;
	font-weight: 500;
	margin: 0 0 16px;
}

h2 { /* Subtitle */
	font-size: var(--font-l);
	line-height: 1.3;
	font-weight: 500;
	margin: 0 0 8px;
}

h3 { /* Company Title */
	color: var(--black);
	font-size: var(--font-m);
	line-height: 1.3;
	font-weight: 700;
	margin: 0;
}

p {
	font-size: var(--font-m);
	line-height: 1.5;
	margin-top: 8px;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

/* ----- INPUT CSS ----- */

input[type="checkbox"] {
	width: 16px;
	height: 16px;
	margin: 0 8px 0 0;
}

/* The Description List Element */

dl {
	margin: 0;
}

dt {
	font-size: var(--font-m);
	line-height: 1.5;
	font-weight: 500;
	margin: 0 0 8px 0;
	margin-block-start: 0;
}

dd {
	margin: 0 0 8px;
}

dl dd input {
	vertical-align: middle;
	cursor: pointer;
}

dl dd label {
	font-weight: 400;
	color:  var(--grey700);
	vertical-align: middle;
	cursor: pointer;
}

/* Form and Labels */

.form-layout-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.form-layout-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
}

.form-label-wrapper {
	margin: 0 0 4px;
}

.form-label {
	font-size: var(--font-s);
	font-weight: 500;
}

.form-input {
	margin: 0;
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid var(--grey500);
	font-size: var(--font-m);
}

/* ----- CSS TO MAKE THE LAYOUT ----- */

.container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin-top: 16px;
	min-height: 80vh /* To have footer at the buttom of the page */
}

.column-left {
	position: static;
	min-width: 280px;
	max-width: 280px;
	height: auto;
	margin-right: 24px;
	align-self: stretch;
}

.column-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto;
}

/* CSS to make image and label layout */
.item-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--font-xxs);
	color: var(--black);
	max-width: 48px;
	text-align: center
}

.item-label:first-child {
	margin-left: 0
}

.item-label:last-child {
	margin-right: 0;
}

.item-label div {
	margin-bottom: 4px;
}

/* ----- BOXES & CARDS ----- */

.box { /* General box except for the panel of the left */
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: auto;
	min-height: 20px;
	margin-bottom: 24px;
	border-radius: 8px;
	background-color: var(--white);
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
}

.Aspect2-3 {
	padding-top: 150%; /* aspect ratio 2:3 */
	position: relative;
}

/* CARDS */

.card {
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	background-color: var(--white);
	padding: 16px;
	transition: background-color 200ms;
}

.card:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.card:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.card:hover {
	background-color: var(--grey50)
}

/* ----- BUTTONS ----- */

/* Button Main */

.button-main {
	display: flex;
	padding: 8px;
	margin: 0;
	align-items: center;
	align-self: center;
	color: var(--black);
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
	background-color: var(--white);
	border: solid 1px var(--black);
	border-radius: 8px;
	transition: color 200ms, background-color 200ms;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.button-main a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--black);
}

.button-main a:hover {
	color: var(--white);
}

.button-main:hover {
	color: var(--white);
	background-color: var(--black)
}

.button-main:disabled {
	background-color: var(--grey200);
	color:  var(--grey700);
	border-style: none;
	box-shadow: none;
	cursor: not-allowed;
}

/* Secondary Button */

.button-second {
	padding: 8px;
	align-items: center;
	background-color: var(--black);
	color: var(--white);
	font-size: 14px;
	line-height: 1.3;
	font-weight: 500;
	border-radius: 8px;
	transition: color 200ms, background-color 200ms;
	cursor: pointer;
	white-space: nowrap;
}

.button-second:hover {
	background-color:  var(--grey700);
}

.button-second:disabled {
	background-color: var(--grey200);
	color:  var(--grey700);
	border-style: none;
	box-shadow: none;
	cursor: not-allowed;
}

/* Button With Left Icon(24px) */

.button-icon {
	display: flex;
	padding: 4px 8px 4px 4px;
	align-items: center;
	background-color: var(--white);
	color: var(--black);
	font-size: 14px;
	align-items: center;
	font-weight: 500;
	border-style: solid;
	border-color: var(--black);
	border-width: 1px;
	border-radius: 8px;
	transition: color 200ms, background-color 200ms;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.button-icon a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--black);
}

.button-icon a:hover {
	color: var(--white);
}

.button-icon img {
	margin-right: 4px;
}

.button-icon:hover {
	color: var(--white);
	background-color: var(--black)
}

.button-icon:hover img {
	filter: invert(100%)
}

/* Small Button with Left Icon(14px) */

.button-icon-small {
	display: flex;
	padding: 2px 6px 2px 4px;
	color: var(--grey500);
	font-size: var(--font-xs);
	line-height: 1.5;
	font-weight: 700;
	background-color: var(--white);
	border: solid 1px var(--grey500);
	border-radius: 8px;
	white-space: nowrap;
}

.button-icon-small img {
	margin: 0 2px 0 0;
}

/* Button Social Circle */

.button-social {
	display: flex;
	background-color: var(--white);
	border-style: solid;
	border-color: var(--black);
	border-width: 1px;
	border-radius: 50%;
	padding: 0;
	transition: color 200ms, background-color 200ms;
}

.button-social img {
	margin: 8px;
}

.button-social:hover {
	background-color: var(--black);
}

.button-social:hover img {
	filter: invert(100%);
}

.button-social:disabled {
	background-color: var(--grey200);
	cursor: not-allowed;
}

/* Pill */

.pill {
	padding: 8px 16px;
	align-items: center;
	background-color: var(--white);
	color: var(--black);
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	border: solid 1px var(--black);
	border-radius: 100px; /* large number to make the shape */
	transition: color 200ms, background-color 200ms;
	cursor: pointer
}

.pill:hover {
	background-color: var(--grey200);
}

.pill:disabled {
	background-color: var(--grey200);
	color:  var(--grey700);
	border-style: none;
	box-shadow: none;
	cursor: not-allowed;
}

/* ----- COMPONENTS ----- */

/* Panel */

.box-panel {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: auto;
	min-height: 20px;
	margin-bottom: 24px;
	border-radius: 8px;
	background-color: var(--white);
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
}

.box-panel section {
	width: auto;
	padding: 16px;
}

.box-panel h1 {
	margin: 0 0 8px;
	font-weight: 700;
}

.box-panel h2 {
	text-align: center;
	font-size: var(--font-xl);
	font-weight: 700;
}

.box-panel h3 {
	margin: 0 0 8px;
}

.box-panel p {
	color:  var(--grey700);
	font-size: var(--font-m);
	line-height: 1.3;
	text-align: center;
	margin: 0 0 16px;
}

.box-panel ul {
	margin: 0 16px;
	padding: 0;
	display: flex;}

.box-panel li {
	display: inline;
	margin: 0 4px
}

.panel-cover {
	height: 28px; /* same as img height */
}

.panel-cover img {
	text-align: center;
	height: 28px;
	object-fit: cover
}

.contact-section {
	align-items: center;
}

.tag-area li {
	color: var(--grey500);
	font-size: var(--font-xs);
	line-height: 1.3;
	font-weight: 400;
	margin-right: 8px
}

/* HEADER */

.header-bar{
	z-index: 99;
	position: sticky;
	top: 0;
	left: 0;
	height: 48px;
	width: 100vw;
	background-color: var(--white);
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center}

.header-container {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 16px;
	max-width: 1200px} /* Same as body max width */

.header-lang-wrapper { /* Language selection container */
	display: flex;
	flex-direction: row;
}

.header-lang { /* The language selection */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 44px;
	margin-left: -8px;
	font-weight: 700;
	border-radius: 8px;
	cursor: pointer;
}

.header-lang:hover {
	background-color: var(--grey200);
}

.header-logo {
	height: 24px}

.header-icon {
	border-radius: 8px;
	padding: 8px;
	margin-right: -8px;
	cursor: pointer;
	display: none;}

.header-icon:hover {
	background-color:var(--grey200)}

.header-invisible { /* used to make the header layout */
	visibility: hidden;
	width: 40px;
	height: 44px;
	margin-right: -8px;
}

/* FOOTER */

footer {
	width: 100%;
	max-width: 1200px; /* Same as body max width */
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer ul {
	width: 100%;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 0;
	padding: 8px 0 24px;
	margin-block-start: 0;
	padding-inline-start: 0;
}

footer li {
	display: flex;
	margin: 0 16px 8px 0;
	white-space: nowrap;
	line-height: 2;
	font-size: var(--font-s);
}

footer li:first-child {
	font-weight: 500;
}

footer li:last-child {
	margin-right: 0;
}

footer li a {
	color: var(--grey700);
}

footer li a:hover {
	text-decoration: underline;
}


/* POP-UP */

.popup-lang {
	top: 40px;
	position: absolute;
	display: none;
	flex-direction: column;
	white-space: nowrap;
	padding: 16px;
	background-color: var(--white);
	border: 1px solid var(--black);
	border-radius: 8px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
}

.popup-title {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.popup-title img:hover {
	cursor: pointer;
}

.header-lang:hover .popup-lang {
	display: flex;
}

.popup-lang h2 {
	font-weight: 700;
	margin: 0 16px 16px 0;
	line-height: 1.3;
}

.popup-lang a {
	padding: 8px;
	margin: 0 -8px;
	font-weight: 400;
	color: var(--black);
	border-radius: 8px;
}

.popup-lang a:hover {
	text-decoration: underline;
	background-color: var(--grey50);
}

/* Error Messages & Alerts */

.information-error-box {
	width: 100%;
	display: flex;
	overflow: hidden;
	background-color: var(--white);
	border-radius: 8px;
	margin-bottom: 24px;
}

.information-error-vertical {
	background-color: var(--red800);
	width: 12px;
	min-width: 12px;
}

.information-error-box h2 {
	margin: 16px;
}

/* Company Card */

.logo-main {
	width: 88px;
	min-width: 88px;
	height: 88px;
	border-radius: 8px;
	overflow: hidden;
}

.logo-main img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.logo-small {
	width: 24px;
	min-width: 24px;
	height: 24px;
	border-radius: 4px;
	overflow: hidden;
}

.logo-small img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.company-card-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.company-card-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 24px;
	height: 100%;
}

.company-card-info ul {
	padding-inline-start: 0;
	display: flex;
	/*align-self: left;*/ /* align-self doesn't take left or right value */
	margin: 0 0 8px
}

.company-card-info li {
	display: inline;
	margin: 4px 12px 0 0
}

.company-card-badge-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	justify-items: right;
	margin-top: 8px
}

 /* Badges */

/* .BadgeArea {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	justify-items: right;
	margin-top: 8px}

	.BadgeArea .ItemLabel:last-child {
		margin-right: 16px;}
 */

 /* .badge-google-review {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #609BEE;
	color: var(--black);
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 4px;
}

.badge-google-review-scale {
	font-size: 10px;
	font-weight: 400;
	position: relative;
	top: 4px
} */

/* BANNER */

.banner {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 230px;
	width: 100%;
	margin-bottom: 24px;
	border-radius: 8px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
	background-image: linear-gradient(to right, rgba(0,0,0, 0.5), transparent 60%),
		url(/static/image/ali-yahya-7_AZi5Fe-rU.jpg);
	background-size: auto, cover;
	justify-content: center;
	background-position: 0 0, 50% 50%
}

.banner-text {
	color: var(--white);
	margin-left: 24px;
	max-width: 60ch
}

.banner-text h2 {
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 700;
	margin: 0 0 8px 0
}

.banner-text p {
	font-size: var(--font-xl);
	font-weight: 400;
	margin: 0
}

/* Filter Area */

.filter {
	padding: 16px;
	overflow-y: scroll;
}

/* ----- MODIFIERS ----- */

.flow-y {
	overflow-y: scroll;
}

.flow-x {
	overflow-x: scroll;
}

/* Paddings & Margins */
.pad-16 {
	padding: 16px;
}

.margin-t16 {
	margin-top: 16px;
}

.margin-r16 {
	margin-right: 16px;
}

.margin-b16 {
	margin-bottom: 16px;
}

.margin-t-auto {
	margin-top: auto;
}

.center {
	align-self: center;
}

.mobile { /* Display flex on @media 800 and smaller */
	display: none;
}

.sticky {
	position: sticky;
	top: 60px;
}

.back-top {
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	position: fixed;
	right: 24px;
	bottom: 24px;
	transition: visibility 0.3s linear,opacity 0.3s linear;
}

/* ----- OTHER ----- */

.visually-hidden { /* SEO - Title of the website */
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;}

/* LAYOUT CHANGES FOR TABLET DEVICES */
@media screen and (max-width: 800px)
{
	/* TABLET GENERAL CHANGES */
	h1 {
		font-size: var(--font-xxl);
	}

	h2 {
		font-size: var(--font-xl);
	}

	h3 {
		font-size: var(--font-l);
	}

	/* ----- CSS TO MAKE THE LAYOUT ----- */
	.container {
		flex-direction: column;
	}

	.column-left { /* This makes the column to expand on the entire screen */
		min-width: 100%;
		max-width: 100%;
	}

	.item-label {
		font-size: var(--font-xs);
	}

	/* ----- BUTTONS ----- */
	.button-main,
	.button-icon {
		font-size: var(--font-m);
	}

	/* ----- COMPONENTS ----- */
	.header-invisible { /* used to make the header layout */
		display: none;
	}

	.header-icon {
		display: inline}

	.banner {
		background-image: linear-gradient(to right, rgba(0,0,0, 0.5), rgba(0,0,0,0) 100%), url(/static/image/ali-yahya-7_AZi5Fe-rU.jpg);
	}

	/* MENU MOBILE */
	.sticky {
		z-index: 10;
		display: none; /* Display flex with JS */
		flex-direction: column;
		align-content: flex-start;
		position: fixed;
		width: auto;
		padding: 16px;
		background-color: var(--white);
		top: 48px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: scroll;
	}

	.sticky .box{
		box-shadow: none;
	}

	.sticky .filter{
		padding: 0;
	}

	.sticky .button-icon {
		display: flex
	}

	dl {
		margin: 0 0 24px
	}

	dl label {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		border-color: var(--black);
		color: var(--black);
		background-color: var(--white);
		padding: 8px 16px;
		font-size: var(--font-s);
		line-height: 1;
		border-radius: 16px;
		font-weight: 400;
		align-self: center
	}

	dl input {
		display: none;
	}

	dl input:checked + label {
		color: var(--white);
		background-color: var(--black);
	}

	dt {
		font-size: var(--font-l);
	}

	dd {
		display: inline-block;
		border-radius: 16px;
		transition: color 200ms, background-color 200ms;
		margin: 4px;
	}

	dd:first-child {
		margin-left: 0;
	}

	dl dd label {
		font-weight: 500;
		color: var(--black)
	}

	/* FOOTER */
	footer ul {
		flex-direction: column;
	}

	footer li:last-child {
		margin-bottom: 0;
	}

	/* ----- MODIFIER ----- */

	.mobile { /* Display none on desktop */
		display: inherit;
	}
}

/* LAYOUT CHANGES FOR MOBILE DEVICES */
@media screen and (max-width: 500px)
{
	body {
		padding: 0 8px 24px;
	}

	/* ----- COMPONENTS ----- */

	/* BANNER */
	.banner {
		display: block;
		min-height: 180px;
		background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0,0) 100%),
			url(/static/image/ali-yahya-7_AZi5Fe-rU.jpg);
		background-size: auto, cover;
		background-position: 0 0, 50% 50%
	}

	.banner-text {
		align-self: flex-start;
		color: var(--white);
		margin: 16px 0 0 16px;
		max-width: 60ch
	}

	.banner-text h2 {
		font-size: var(--font-xl);
		line-height: 1.3;
		font-weight: 500
	}

	.banner-text p {
		font-size: var(--font-m);
		line-height: 1.3;
	}

	/* COMPANY CARD */
	.company-card-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column}

	.company-card-badge-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-width: 100px;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start
	}
}