/* Default */

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: #161313;
    background-color: #f6f6f6;
    font-size: 16px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

hr {
    background-color: #EFEDED;
    margin: 0;
    border: 0;
    height: 1px;

}

h1 { /* Title */
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 16px;
    margin-block-start: 0;
}

h2 { /* Subtitle */
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 500;
    margin: 0px 0px 16px;
}

h3 { /* Company Title */
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-top: 8px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0px 8px 0px 0px;
}

input, label {
    vertical-align: middle;
}

label {
    font-weight: 400;
    color: #545151;
}

dl {
    margin: 16px 16px 16px;
}

dt {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0px 0px 16px 0px;
    margin-block-start: 0;
}

dd {
    margin: 0px 0px 8px 0px;
}

/* Desktop Hidden Elements*/

.MobileAbout {
    display: none;
}

/* CSS to make the Layout */

.Container {
    position: static;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin-top: 56px;
}

.ColumnLeft {
    position: static;
    min-width: 280px;
    max-width: 280px;
    height: auto;
    margin-right: 24px;
    align-self: stretch;
}

.ColumnMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.Sticky {
    position: sticky;
    top: 60px;
}

/* Text Style */

.Tag {
    font-size: 0.75rem;
    line-height: 1.3;
    font-weight: 700;
    border-radius: 8px;
    padding: 4px;
}

.Label {
    color: #8B8989;
    font-size: 0.75rem;
    line-height: 1.3;
    font-weight: 400;
    margin-right: 4px;
}

/* Buttons */

.Button {
    display: flex;
    padding: 8px 8px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);
    transition: color 200ms, background-color 200ms;
}

    .Button:hover {
        color: white;
        background-color: #161313;
    }

    .Button img {
        margin-right: 4px;
    }

.Button.Pill {
    padding: 8px 16px;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 16px;
    font-weight: 500;
    align-self: center;
    margin-bottom: 8px;
}

.Button.Center {
    align-self: center;
    padding: 2px 4px;
}

.Button.Absolute {
    z-index: 1;
    position: absolute;
    padding: 2px 4px;
    right: 0%;
    bottom: 0%;
    margin-right: 24px;
    margin-bottom: 24px;
}

.Button.Fixed {
    z-index: 99;
    position: fixed;
    padding: 2px 4px;
    right: 0%;
    bottom: 0%;
    margin-right: 24px;
    margin-bottom: 24px;
}

.Button.Social {
    display: inline-block;
    margin: 0px 4px 8px;
}

    .Button.Social:last-child {
        margin-bottom: 0px;
    }

.Button.Circle {
    border-radius: 50%;
    border-width: 2px;
    padding: 0px;
    margin: 4px;
}

    .Button.Circle img {
        margin: 8px;
    }

/* Header */

    .HeaderBar{
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        height: 56px;
        width: 100vw;
        background-color: #ffffff;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
    }

        .HeaderContainer {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1232px; /* 1200px + 16px padding left and right */
        }

        .HeaderLogo {
            margin-left: 16px;
            height: 24px;
        }

        .HeaderIcon {
            display: none;
            margin-right: 16px;
        }
        
        
/* Cards */

.Card {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #ffffff;
    padding: 16px 16px 16px 16px;
    transition: background-color 200ms;
}

    .Card:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .Card:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .Card:hover {
        background-color: #fafafa;
    }

.Logo {
    width: 88px;
    min-width: 88px;
    height: 88px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 16px;
}

    .Logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.CompanyMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.CompanyContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;
}

.Category {
    margin-bottom: 8px;
}

.Tag.Region {
    display: inline-block;
    color: #8b8989;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #8b8989;
    margin-top: auto;
    margin-right: 8px;
}

.BadgeArea.Random {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.BadgeArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-items: right;
}

.Badge {
    align-self: center;
    margin-left: 16px;
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
    min-width: 48px;
    background-color: black;
}

    .Badge:first-child {
        margin-left: 0px;
    }

/* Box */

.Box {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 20px;
    margin-bottom: 24px;
    border-radius: 8px 8px 8px 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.05);
}

.Box.Profile {
    align-items: center;
    padding-bottom: 24px;
}


.Box.Aspect {
    padding-top: 56.25%;
    position: relative;
}

    .Box.Aspect.Mobile {
        display: none;
    }

.Box.Test {
    padding-top: 56.25%;
    background-color: blue;
    position: relative;
}

/* About us */

.Box.About {
    align-items: center;
    padding-bottom: 24px;
}

.AboutCover {
    height: 72px;
    margin-bottom: 16px;
}

    .AboutCover img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.AboutText {
    color: #545151;
    font-size: 0.875rem;
    line-height: 1.3;
    text-align: center;
    max-width: 90%; /* This is to try to replicate padding 16px on left and right */
}

.AboutLine {
    margin: 24px 0px 16px;
    width: 100%;
}

.AboutSocial {
    max-width: 88%; /* This is to try to replicate padding 16px on left and right */
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/* Banner */

.Box.Banner {
    min-height: 230px;
    background-image: linear-gradient(to right, rgba(0,0,0, 0.5), rgba(0,0,0,0) 60%), url("/Users/levogirar/Desktop/Picture/ali-yahya-7_AZi5Fe-rU-unsplash 2.png");
    background-size: auto, cover;
    justify-content: center;
    background-position: 0px 0px, 50% 50%;
}

.BannerText {
    color: #ffffff;
    margin-left: 24px;
    max-width: 60ch;
}

.BannerTitle {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    margin: 0px 0px 8px 0px;
}

.BannerSubtitle {
    font-size: 1.5rem;
    list-style: 2rem;
    font-weight: 400;
    margin: 0;
}

/* Company profile */

.Logo.Profile {
    margin: 16px 0px 8px;
}

.ProfileName {
    max-width: 88%;
    text-align: center;
    margin-bottom: 8px;
}

.ProfileHeading {
    max-width: 88%;
    font-weight: 500;
    text-align: left;
    margin-bottom: 8px;
    align-self: start;
    margin-left: 16px;
}

.ProfileLine {
    width: 100%;
    margin: 24px 0px 16px;
}

.BadgeArea.Profile {
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ProfileInstagram {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.InstagramRow {
    display: flex;
    justify-content: space-between;
    height: 49.5%;
}

.InstagramPicture {
    margin: 0px;
    height: 100%;
    width: 33%;
}

    .InstagramPicture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* LAYOUT CHANGES FOR TABLET DEVICES */

@media screen and (max-width: 800px) {

/* Tablet General Changes */

    .HeaderIcon {
        display: inline;
    }

    .Container {
        flex-direction: column;
    }

    .ColumnLeft.Home {
        display: none;
    }

    .Box.Banner {
        min-height: 230px;
        background-image: linear-gradient(to right, rgba(0,0,0, 0.5), rgba(0,0,0,0) 100%), url("/Users/levogirar/Desktop/Picture/ali-yahya-7_AZi5Fe-rU-unsplash 2.png");
        background-size: auto, cover;
        justify-content: center;
        background-position: 0px 0px, 50% 50%;
    }

    /* About us mobile*/

    .MobileAbout {
        display: block;
        width: 100%;
    }

    .Box.About {
        align-items: center;
        padding: 16px 0px 16px;
    }

    /* Menu mobile */

    dl {
        margin: 16px 16px 16px;
    }

        dl label {
            display: inline-block;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            color: black;
            padding: 8px 16px;
            font-size: 0.875rem;
            line-height: 1;
            border-radius: 16px;
            font-weight: 500;
            align-self: center;
        }

        dl input {
            display: none;
        }

        dl input:checked + label {
            color: white;
            background-color: #161313;
        }
    
    dt {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 700;
        margin: 0px 0px 16px 0px;
        margin-block-start: 0;
    }
    
    dd {
        display: inline-block;
        border-radius: 16px;
        transition: color 200ms, background-color 200ms;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);    
    }

    .Box.Filter {
        padding-bottom: 24px;
    }

/* Company profile page */

    .Box.About.Company {
        display: none;
    }

    .Container {
        flex-direction: column;
    }

    .ColumnLeft.Company {
        min-width: 100%;
        max-width: 100%;
    }

    
}

@media screen and (max-width: 500px) {

    /* Banner */

    .Box.Banner {
        display: block;
        min-height: 230px;
        background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0,0) 100%), url("/Users/levogirar/Desktop/Picture/ali-yahya-7_AZi5Fe-rU-unsplash 2.png");
        background-size: auto, cover;
        background-position: 0px 0px, 50% 50%;
    }

    .BannerText {
        align-self: flex-start;
        color: #ffffff;
        margin: 16px 0px 0px 16px;
        max-width: 60ch;
    }

    .BannerTitle {
        font-size: 1.5rem;
        line-height: 1.3;
        font-weight: 500;
        margin: 0px 0px 8px 0px;
    }

    .BannerSubtitle {
        font-size: 1rem;
        list-style: 1.3;
        font-weight: 400;
        margin: 0;
    }

    /* Company card */

    .CompanyMain {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .Tag.Region {
        margin-top: 16px;
        margin-bottom: 8px;
        
    }

    .BadgeArea {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 100px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .Badge {
        margin-right: 8px;
        margin-left: 0px;
    }

    /* Company profile */

    .Box.Aspect {
        display: none;
    }

    .Box.Aspect.Mobile {
        display: flex;
        padding-top: 133%;
    }

    .InstagramRow {
        height: 33%;
    }
    
    .InstagramPicture {
        margin: 0px;
        height: 100%;
        width: 49.5%;
    }
    
        .InstagramPicture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }



}

.Black {
    height: 40px;
    width: 40px;
    background-color: black;
}