/* CSS for the 404 PAGE */

.error-page-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 800px;
}

.error-image {
	margin: 24px;
	max-width: 320px;
	border-radius: 40px;
	overflow: hidden;
	align-self: center;
}

.error-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.error-page-wrapper h1 {
	margin-block-end: 8px;
	font-size: var(--xxl);
}

.error-page-wrapper p {
	max-width: 60ch;
	margin-block-end: 40px;
	color: var(--grey700);
	line-height: 1.5;
}

a,
a:active,
a:visited {
	margin-block-end: 24px;
	color: var(--black);
}