/* CSS for the admin pages */

main h2 {
	margin-block-end: 8px;
	font-weight: 500;
}

/* Admin Control Panel */

.navbar-box form {
	margin-block-start: 24px;
	margin-block-end: 24px;
}

.navbar-box .button-main-new {
	padding: 8px;
	width: 100%;
	color: var(--text-default);
	font-size: var(--s);
	border: solid 1px var(--border-default);
	border-radius: 8px;
	background-color: var(--button-main);
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
}

@media (hover: hover) {
	.button-main-new:hover {
		color: var(--button-main-text-hover);
		background-color: var(--button-main-hover);
	}
}

#version {
	margin-block-start: -32px;
	font-size: var(--s);
	color: var(--text-grey);
}


/* TABLE LAYOUT & STYLE */

.box-table {
	display: flex;
	position: relative;
	max-width: calc(100vw - 337px);
	min-height: 20px;
	margin-block-end: 24px;
	border: 1px solid var(--border-grey);
	border-radius: 8px;
	overflow:hidden;
	background-color: var(--box-bkg);
}

.scroll-h {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	overflow-x: scroll;
	padding: 8px 16px 16px;
	width: 100%;
}

.box-table table {
	border-collapse: collapse;
	border-left-style: hidden;
	border-right-style: hidden;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

.box-table th {
	padding: 5px 8px 6px;
	text-align: left;
	color: var(--text-grey);
	font-size: var(--s);
	font-weight: 500;
	white-space: nowrap;
	border: 1px solid var(--border-grey);
}

.box-table tr {
	height: 32px;
}

.box-table td {
	padding: 5px 8px 6px;
	text-align: left;
	color: var(--text-default);
	font-size: var(--s);
	font-weight: 400;
	white-space: nowrap;
	border: 1px solid var(--border-grey);
}

/* tr:nth-child(even) {
    background-color: #fafafa;
} */

.box-table input[type=text] {
	padding: 4px 0;
	margin: auto;
	border: solid 1px transparent;
	border-radius: 4px;
	color: var(--text-grey);
	font-size: var(--s);
	width: 100%;
	background-color: transparent;
	align-self: center;
}

.box-table input[type=text]:hover {
	border: solid 1px var(--border-grey);
}

.box-table .disabled-text {
	color: var(--text-grey);
	font-style: italic;
}

#section-table .box-table #entry-id {
	min-width: 100px;
}

#section-table .box-table .scroll-h div {
	min-width: 16px;
}

/* ----- ADMIN TABS -----*/

/* Company Tab */
.box hr {
	margin-block-end: 8px;
}

.box input[type=submit] {
	margin-block-start: 24px;
}

@media screen and (max-width: 800px) {
	.box-table {
		max-width: 100vh;
	}

	#version {
		margin-inline-start: 16px;
	}
}

/* Setting Tab */
.form-layout-row {
	display: flex;
	margin-block-end: 16px;
}

.form-layout-row label {
	font-size: var(--s);
	font-weight: 400;
	color: var(--text-grey);
}