/* CSS for the admin pages */

main h2 {
	margin-block-end: 8px;
	font-weight: 500;
}

/* Admin Control Panel */
.icon-label-h {
	background-color: var(--grey200);
}

a .icon-label-h {
	background-color: transparent;
	font-weight: 400;
}

#version {
	margin: -16px 0 24px;
	font-size: var(--s);
	color: var(--grey700);
}

/* TABLE LAYOUT & STYLE */

.box-table {
	display: flex;
	position: relative;
	max-width: calc(100vw - 337px);
	min-height: 20px;
	margin-block-end: 24px;
	border: 1px solid var(--grey200);
	border-radius: 8px;
	overflow:hidden;
	background-color: var(--white);
}

.scroll-h {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	overflow-x: scroll;
	padding: 8px 16px 16px;
	width: 100%;
}

.box-table table {
	border-collapse: collapse;
	border-left-style: hidden;
	border-right-style: hidden;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

.box-table th {
	border: 1px solid #E3E1E1;
	padding: 5px 8px 6px;
	text-align: left;
	color: #8b8989;
	font-size: 0.875rem;
	font-weight: 400;
	white-space: nowrap;
}

.box-table tr {
	height: 32px;
}

.box-table td {
	border: 1px solid #E3E1E1;
	padding: 5px 8px 6px;
	text-align: left;
	color: #545151;
	font-size: 0.875rem;
	font-weight: 400;
	white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

.box-table input[type=text] {
	padding: 4px 0;
	margin: auto;
	border: solid 1px transparent;
	border-radius: 4px;
	font-size: 0.75rem;
	width: 100%;
	background-color: transparent;
	align-self: center;
}

.box-table input[type=text]:hover {
	border: solid 1px #E3E1E1;
}

.box-table .disabled-text {
	color: var(--grey700);
	font-style: italic;
}

#section-table .box-table #entry-id {
	min-width: 100px;
}

#section-table .box-table .scroll-h div {
	min-width: 16px;
}

/* ----- ADMIN TABS -----*/

/* Company Tab */
.box hr {
	margin-block-end: 8px;
}

.box input[type=submit] {
	margin-block-start: 24px;
}

@media screen and (max-width: 800px) {
	.box-table {
		max-width: 100vh;
	}

	#version {
		display: none;
	}
}

/* Setting Tab */
.form-layout-row {
	display: flex;
	margin-block-end: 16px;
}

.form-layout-row label {
	font-size: var(--s);
	font-weight: 400;
	color: var(--grey700);
}