/* CSS for the company profile page */

/* Basic Information */
main .card {
	display: flex;
	flex-direction: row;
}

main .card:hover { background-color: transparent }

.company-about { padding: 8px 16px }

.company-about h3 {
	margin-block-end: 8px;
	font-size: var(--l);
	font-weight: 500;
}

.company-about p { 
	margin-block-end: 8px;
	color: var(--text-grey);
}

/* Edit */
#edit {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: var(--background);
	overflow-y: scroll;
}

#edit .box {
	padding: 16px;
}

#edit h2 span {
	display: block;
	font-size: var(--xxl);
	font-weight: 700;
	margin-block-end: 24px;
}

.h2-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.h2-title-icon {
	padding: 6px 4px 2px;
	border-radius: 50%;
	cursor: pointer;
}

.h2-title-icon:hover {
	background-color: var(--box-hover)
}

/* Last updated */
.last-updated {
	margin-block-start: -32px;
	margin-block-end: 40px;
	color: var(--grey500);
	font-size: var(--s);
}

/* Instagram Card */
.instagram-info {
	margin: 16px;
}

.instagram-info h3 {
	margin-block-end: 8px;
	font-size: var(--l);
	font-weight: 500;
}

.instagram-info p {
	max-width: 40ch; /* temporal */
	margin-block-end: 16px;
	line-height: 1.5;
}

#ig-external-url {
	display: inline-block;
	max-width: min(40ch, 98%);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.instagram-info ul {
	display: flex;
}

.instagram-info li {
	margin-inline-end: 24px;
}

.instagram-info .number {
	margin-block-end: 4px;
	font-size: var(--l);
	font-weight: 700;}

.instagram-info .text {
	font-size: var(--s)}

.instagram-info a:hover {
	text-decoration: underline;
}

.instagram-gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--box-bkg)
}

.instagram-row {
	display: flex;
	justify-content: space-between;
	height: 33%
}

.instagram-picture {
	height: 100%;
	width: 49.7%
}

.instagram-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

/* Company Summary Bar */

.mobile-summary {
	display: none;
}

/* LAYOUT CHANGES FOR TABLET DEVICES */
@media screen and (max-width: 800px)
{
	header { position: relative }

	#ig-external-url {
		max-width: 98%; /* for devices where min() doesn't work*/
	}

	#edit {
		position: fixed;
		z-index: 99; /* Magic number */
		top: 0px;
		padding: 16px;
	}

	/* Company Summary */
	.mobile-summary {
		position: fixed;
		top: 0; left: 0;
		z-index: 2;
		display: flex;
		align-items: center;
		padding: 8px 16px;
		width: 100%;
		background-color: var(--box-bkg);	
		border: 1px solid var(--border-grey);
		opacity: 0;
		transform: translateY(-100px); /* Magic number */
		will-change: opacity, transform;
		transition: opacity 200ms 0ms ease-in-out;
	}
	
	.mobile-summary-logo {
		min-height: 64px;
		max-width: 64px;
		min-height: 64px;
		max-height: 64px;
		margin-inline-end: 16px;
		border: 1px solid var(--border-grey);
		border-radius: 8px;
	}

	.mobile-summary-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.mobile-summary h3 {
		font-size: var(--l);
		font-weight: 500;
		margin-block-end: 8px;
		text-transform: capitalize;
	}
}

/* LAYOUT CHANGES FOR MOBILE DEVICES */
@media screen and (max-width: 500px)
{
	.mobile-summary { padding: 8px }

	#edit { padding: 16px 8px }
}

