/* CSS for the company profile page */

.company-sticky {
	position: sticky;
	top: 64px;
}

/* Box Panel */
/* companyPanel Sections */
#company-panel section {
	padding-block-start: 16px;
	padding-block-end: 16px;
	width: auto;
}

#company-panel h1,
#company-panel h3,
#company-panel p {
	margin-inline-start: 16px;
	margin-inline-end: 16px;
	margin-block-end: 8px;
}

#company-panel h1 {
	font-size: var(--xl);
	text-align: center;
}

#company-panel h3 {
	font-size: var(--l);
	font-weight: 500;
}

#company-panel p {
	max-width: 40ch;
	color: var(--grey700);
	line-height: 1.5;
	text-align: left;
}

.company-about {
	align-items: center
}

.logo-main {
	margin-block-end: 8px;
	width: 88px;
	min-width: 88px;
	height: 88px;
	border-radius: 8px;
	border: 1px solid var(--grey50);
	overflow: hidden;
}

.company-about li {
	display: inline-flex;
	margin-inline-end: 16px;
	padding: 4px 0;
	color: var(--grey700);
	font-size: var(--s);
}

.company-about li:last-child {
	margin-inline-end: 0;
}

.company-contact .icon-label-h {
	padding-inline-start: 16px;
	color: var(--grey700);
}

/* Edit */
#edit {
	display: none;
}

.edit {
	padding: 16px;
}

.edit hr {
	margin-bottom: 8px;
}

.edit h2 {
	margin-block-end: 16px;
}

.edit .button-main {
	align-self: flex-start;
}

.edit input[type=text],
.edit input[type=url],
.edit input[type=email] {
	font-size: var(--s);
}

.edit textarea {
	height: 80px; /* Magic number */
	font-size: var(--s);
	line-height: 1.5;
}

.edit details summary {
	font-size: var(--l);
	font-weight: 500;
}

/* Last updated */
#last-updated {
	margin-block-start: -16px;
	margin-block-end: 24px;
	color: var(--grey500);
	font-size: var(--s);
}

/* Instagram Card */
.instagram h2 {
	margin-block-end: 8px;
	font-size: var(--xl);
	font-weight: 500;
}

.instagram .button-icon {
	z-index: 1;
	position: absolute;
	right: 24px;
	bottom: 24px;
	color: var(--black);
}

.instagram .button-icon:hover {
	color: var(--white);
}

.instagram-info {
	margin: 16px;
	max-width: 40ch
}

.instagram-info h3 {
	margin-block-end: 8px;
	font-size: var(--l);
}

.instagram-info p {
	margin-block-end: 16px;
	line-height: 1.5;
}

#ig-external-url {
	display: inline-block;
	max-width: min(40ch, 98%);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.instagram-info ul {
	display: flex;
}

.instagram-info li {
	margin-inline-end: 24px;
}

.instagram-info .number {
	margin-block-end: 4px;
	font-size: var(--l);
	font-weight: 700;}

.instagram-info .text {
	font-size: var(--s)}

.instagram-info a:hover {
	text-decoration: underline;
}

.instagram-gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white)
}

.instagram-row {
	display: flex;
	justify-content: space-between;
	height: 33%
}

.instagram-picture {
	height: 100%;
	width: 49.7%
}

.instagram-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

/* Company Summary Bar */

.mobile-summary {
	display: none;
}

/* LAYOUT CHANGES FOR TABLET DEVICES */
@media screen and (max-width: 800px)
{
	.header-bar {
		position: relative;
	}

	.company-sticky {
		position: static;
	}

	Instagram
	#ig-external-url {
		max-width: 98%; /* for devices where min() doesn't work*/
	}

	/* Company Summary */
	.mobile-summary {
		position: fixed;
		top: 0; left: 0;
		z-index: 2;
		display: flex;
		align-items: center;
		padding: 8px 16px;
		width: 100%;
		background-color: var(--white);	
		border: 1px solid var(--grey200);
		opacity: 0;
		transform: translateY(-100px); /* Magic number */
		will-change: opacity, transform;
		transition: opacity 200ms 0ms ease-in-out;
	}
	
	.mobile-summary-logo {
		max-width: 64px;
		max-height: 64px;
		margin-inline-end: 16px;
		border: 1px solid var(--grey50);
		border-radius: 8px;
	}

	.mobile-summary-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.mobile-summary h3 {
		font-size: var(--l);
		font-weight: 500;
		margin-block-end: 8px;
	}
}

/* LAYOUT CHANGES FOR MOBILE DEVICES */
@media screen and (max-width: 500px)
{
	.mobile-summary { 
		padding: 8px;
	}
}

