/* CSS for the company profile page */

.company-sticky {
	position: sticky;
	top: 64px;
}

/* Box Panel */
.edit {
	padding: 8px;
}

.edit hr {
	margin-bottom: 8px;
}

.edit h2 {
	text-align: left;
	margin-block-end: 16px;
}

.edit .button-main {
	align-self: flex-start;
}

.edit input[type=text],
.edit input[type=url],
.edit input[type=email],
.edit textarea {
	font-size: small;
}

.edit textarea {
	height: 80px; /* Magic number */
}

.edit details summary {
	font-size: large;
	font-weight: 500;
	margin-bottom: 8px;
	list-style: none; /* Remove details marker */
}
.edit details summary::before,
.edit details summary::-webkit-details-marker {
	display:none;
}

.edit details:hover {
	cursor: pointer;
}

.edit details summary:hover,
.edit details summary:active,
.edit details summary:focus {
	outline-style: none;
}

.edit details summary:hover {
	text-decoration: underline;
}

/* companyPanel Sections */ 
.company-about {
	align-items: center
}

.logo-main {
	width: 88px;
	min-width: 88px;
	height: 88px;
	border-radius: 8px;
	border: solid 1px rgba(0, 0, 0, 0.05);
	overflow: hidden;
}

.company-about h1 {
	margin-top: 8px;
	text-align: center;
}

.company-about ul {
	padding-inline-start: 0;
	display: flex;
	margin: 0;
}

.company-about li {
	display: inline;
	color: var(--grey500);
	font-size: small;
	line-height: 1.3;
	font-weight: 400;
	margin: -4px 16px 0 0
}

.company-about li:last-child {
	margin-right: 0;
}

.company-description p {
	text-align: left;
	margin: 0;
	line-height: 1.5;
}

.company-contact ul {
	display: flex;
	justify-content: center;
	margin-top: 8px;
}

#last-updated {
	margin: -16px 0 24px;
	font-size: small;
	color: var(--grey500);
}

/* Instagram Card */

.instagram .button-icon {
	z-index: 1;
	position: absolute;
	right: 24px;
	bottom: 24px
}

.instagram-info {
	margin: 16px;
	max-width: 40ch
}

#ig-external-url {
	display: inline-block;
	max-width: min(50ch, 98%);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.instagram-info ul {
	padding-inline-start: 0;
	display: flex;
	margin-bottom: 0
}

.instagram-info li {
	display: flex;
	margin-right: 24px;
}

.instagram-info .number {
	margin-bottom: 4px;
	font-size: large;
	font-weight: 500;}

.instagram-info .text {
	font-size: small}

.instagram-info a:hover {
	text-decoration: underline;
}

.instagram-gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white)
}

.instagram-row {
	display: flex;
	justify-content: space-between;
	height: 33%
}

.instagram-picture {
	margin: 0px;
	height: 100%;
	width: 49.7%
}

.instagram-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

/* Company Summary Bar */

.mobile-summary {
	display: none;
}

/* LAYOUT CHANGES FOR TABLET DEVICES */
@media screen and (max-width: 800px)
{
	.header-bar {
		position: relative;
	}

	.company-sticky {
		position: static;
	}

	Instagram
	#ig-external-url {
		max-width: 98%; /* for devices where min() doesn't work*/
	}

	/* Company Summary */
	.mobile-summary {
		position: fixed;
		top: 0; left: 0;
		z-index: 2;
		display: flex;
		align-items: center;
		padding: 8px 16px;
		width: 100%;
		background-color: var(--white);	
		border: 1px solid var(--grey200);
		opacity: 0;
		will-change: opacity;
		transition: opacity 100ms 50ms ease-in-out;
	}
	
	.mobile-summary-logo {
		border: solid 1px rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		max-width: 64px;
		max-height: 64px;
		margin-right: 16px;
	}

	.mobile-summary-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.mobile-summary h3 {
		font-size: large;
		font-weight: 500;
		margin-bottom: 8px;
	}
}

/* LAYOUT CHANGES FOR MOBILE DEVICES */
@media screen and (max-width: 500px)
{
	.mobile-summary { 
		padding: 8px;
	}
}

