/**
 * Main CSS for the webapp
 * Resources:
 * Shopify Polaris
 */

/* VARIABLES */
:root {
	/* Colour */
	--black: #161313;
	--grey700: #545151;
	--grey500: #8F8B8B;
	--grey200: #E6E2E2;
	--grey100: #F2EEEE;
	--grey50: #FAFAFA;
	--white: #FFFFFF;
	--whiteoff: #F0F0F0;

	--red800: #BE3C32;
	--red500: #EC5540;

	--azure900: #404C99;
	--azure700: #527BCC;
	--azure500: #609BEE;

	--salmon300: #E57B9F;
	--salmon200: #EC9EB9;

	--bkg-light: #f6f6f6;
	--box-light: #FFFFFF;

	/* Size */
	--xxl: 2rem; /* 32px */
	--xl: 1.5rem; /* 24px */
	--l: 1.125rem; /* 18px */
	--m: 1rem; /* 16px */
	--s: 0.875rem; /* 14px */
	--xs: 0.75rem; /* 12px */

	/* Default - Light Mode */
	--background: var(--bkg-light);
	--white-bkg: var(--white);
	--box-bkg: var(--box-light);
	--box-hover: var(--grey100);
	--alert-bkg: var(--red500);

	--button-main: var(--white);
	--button-main-hover: var(--black);
	--button-main-text-hover: var(--whiteoff);

	--border-default: var(--black);
	--border-grey: var(--grey200);
	--border-img: var(--grey50);

	--text-default: var(--black);
	--text-inverse: var(--white);
	--text-grey: var(--grey700);
	--text-link: var(--azure900);
}

/**
 * Dark Mode
 * It only works for new browsers
 */
 @media (prefers-color-scheme: dark) {
	:root {
		--bkg-dark: #23272D;
		--box-dark: #2E333A;
		--box-hover-dark: #43474E;

		--background: var(--bkg-dark);
		--white-bkg: var(--bkg-dark);
		--box-bkg: var(--box-dark);
		--box-hover: var(--box-hover-dark);
		--alert-bkg: var(--red800);

		--button-main: var(--box-dark);
		--button-main-hover: var(--box-hover-dark);
		--button-main-text-hover: var(--whiteoff);

		--border-default: var(--grey700);
		--border-grey: var(--grey700);
		--border-img: var(--grey700);

		--text-default: var(--whiteoff);
		--text-inverse: var(--black);
		--text-grey: var(--grey200);
		--text-link: var(--azure500);
	}

	img { filter: brightness(.8) }
	.icon { filter: invert(.8) }
 }

/* ----- CSS RESET ----- */
html {
	scroll-behavior: smooth;

	/* Load system fonts */
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
 
   /* Make type rendering look crisper */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 
   /* Deactivate auto-enlargement of small text in Safari */
   text-size-adjust: 100%;
 
   /* Enable kerning and optional ligatures */
   text-rendering: optimizeLegibility;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-end: 0;
	padding-inline-start: 0;
	padding-block-start: 0;
	padding-block-end: 0;
	line-height: 1.3;
	word-break: break-word;
	list-style: none;
	color: var(--text-default);
}

h1 {
	margin-block-end: 8px;
	font-size: var(--xxl);
	font-weight: 700;
	text-transform: capitalize;
}

h2 {
	margin-block-end: 8px;
	font-size: var(--xl);
	font-weight: 500;
}

p { 
	max-width: 60ch;
	line-height: 1.5;
}

span { word-break: keep-all; }

a,
a:active,
a:visited {
	text-decoration: none;
	color: var(--text-link);
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

/* ----- INPUT CSS ----- */

input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=number],
textarea {
	width: 100%;
	min-height: 32px;
	margin: 0;
	margin-block-end: 8px;
	padding: 4px 8px;
	color: var(--text-default);
	font-size: var(--m);
	border-radius: 8px;
	border: 1px solid var(--border-grey);
	background-color: transparent;
	-webkit-appearance: none;
}

input::placeholder {
	font-size: var(--s);
	color: var(--grey500);
	white-space: nowrap;
}

select {
	margin: 0;
	margin-block-end: 8px;
	padding: 4px 8px;
	color: var(--text-default);
	font-size: var(--m);
	border: 1px solid var(--border-grey);
	border-radius: 8px;
	background-color: transparent;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea {
	resize: vertical;
}

/* Input Checkbox */
.input-checkbox {
	max-width: 40ch;
	color: var(--text-grey);
	font-size: var(--s);
	font-weight: 400;
	cursor: pointer;
}

.input-checkbox input {
	width: 16px;
	height: 16px;
	margin-block-end: 16px;
}

/* input type file */
input[type=file] {
	margin-block-start: 8px;
	width: 100%;
	color: var(--text-default);
	font-size: var(--s);
	cursor: pointer;
}

.input-file label {
	display: block;
	width: 100%;
	margin-block-end: 24px;
	color: var(--text-link);
	cursor: pointer;
}

.input-file label span {
	color: var(--text-default);
	font-size: var(--xs);
	font-weight: 700;
	text-transform: uppercase;
}

/* To hide the arrow picker in input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* Chrome, Safari, Edge, Opera */
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	/* Firefox */
	-moz-appearance: textfield; 
}


/* ----- CSS TO MAKE THE LAYOUT ----- */
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 16px;
	min-height: 100vh;
	align-items: center;
	background-color: var(--background);
}

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 100vw;
	background-color: var(--box-bkg);
	border-bottom: 1px solid var(--border-grey);
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 16px;
	max-width: 1232px; /* Body max width + padding left and right 16px  */
} 

.header-logo {
	height: 24px;
	margin-inline-end: 32px;
}

.header-icon {
	margin-inline-start: -8px;
	margin-inline-end: 16px;
	padding: 5px 4px 3px;
	border-radius: 50%;
	cursor: pointer;
	display: none;
}

@media (hover: hover) { /* To eliminate hover effect on mobile */
	.header-icon:hover { background-color: var(--box-hover) }
}

.container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin-block-start: 16px;
	margin-block-end: 24px;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto;
}

nav {
	position: static;
	min-width: 280px;
	max-width: 280px;
	height: auto;
	margin-right: 24px;
	align-self: stretch;
}

footer {
	position: relative;
	width: 100%;
	min-height: 40px;
	margin-top: auto;
}



/* ----- COMPONENTS ----- */

section {
	width: 100%;
	display: flex;
	flex-direction: column;
}

hr {
	height: 1px;
	width: 100%;
	margin: 0;
	border: 0;
	background-color: var(--border-grey);
}


/* Details and Summary */
details summary {
	margin-block-end: 16px;
	color: var(--text-default);
	list-style: none; /* Remove details marker */
}

details summary::before,
details summary::-webkit-details-marker {
	/* Remove details marker in safari */
	display: none;
}

details:hover {
	cursor: pointer;
}

details summary:active,
details summary:focus {
	outline-style: none;
}


/* Form and Labels */
.form-layout-column {
	display: flex;
	flex-direction: column;
	margin-block-end: 8px;
}

.form-layout-column label {
	max-width: 60ch;
	margin-bottom: 8px;
	color: var(--text-grey);
	font-size: var(--s);
	font-weight: 400;
}


/* Section Title */
.section-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-title div {
	color: var(--text-link);
	cursor: pointer;
}

@media (hover: hover) {
	.h2-title-icon:hover { background-color: var(--box-hover) }

	.section-title a:hover,
	.section-title div:hover {
		text-decoration: underline;
	}
}

/**
 * Make H2 looks like H1 page title
 * Use for Search Filter and Company Edit
 */
.h2-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.h2-title-icon {
	padding: 6px 4px 2px;
	border-radius: 50%;
	cursor: pointer;
}

/* ----- CSS to make image and label layout ----- */

/* Class for <ul> tag */
.ul-list {
	border-top: solid 1px var(--border-grey);
	/* border-bottom: solid 1px var(--border-grey); */
}

.ul-list a {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 40px;
	padding-inline-start: 16px;
	color: var(--text-default);
}
.ul-list a div {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 40px; /* Same as .navbar-box ul a */
	margin-inline-start: 16px;
	padding-inline-end: 40px;
	border-bottom: solid 1px var(--border-grey);
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ul-list li:last-child a div {
	border-bottom: none;
}

.ul-list a div img {
	position: absolute;
	right: 8px;
	background-color: var(--box-bkg); /* Prevent text showing behind */
	filter: brightness(1); /* prevent dark more img filter */
}

@media (hover: hover) {
	.ul-list li:hover,
	.ul-list li:hover a div img { /* Prevent text showing behind */
		background-color: var(--box-hover); 
	}
}

/* Class for <details> tag */
.details-list summary {
	margin-block-end: 0; /* temporal solution */
}

.details-list summary div {
	/* Meed this div to make the layout */
	display: flex;
	align-items: center;
	min-height: 40px;
	padding-inline-start: 16px;
	color: var(--text-default);
}

.details-list summary div div {
	position: relative;
	width: 100%;
	margin-inline-start: 16px;
	padding-inline-start: 0;
}

.details-list summary div div img {
	position: absolute;
	right: 8px;
}

.details-list li {
	display: flex;
	align-items: center;
	min-height: 40px;
	border-bottom: solid 1px var(--border-grey);
}

.details-list li:first-child { border-top: solid 1px var(--border-grey); }

.details-list li:last-child { border-bottom: none }

.details-list li a { 
	padding-inline-start: 56px; /* 16px + 24px + 16px */
	width: 100%;
	color: var(--text-grey);
}

@media (hover: hover) {
	.details-list summary:hover,
	.details-list li:hover {
		background-color: var(--box-hover);
	}
}


/* ----- BOXES & CARDS ----- */

.box {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-block-end: 40px;
	border: 1px solid var(--border-grey);
	border-radius: 8px;
	overflow: hidden;
	background-color: var(--box-bkg);
}

.box-text { padding: 16px; }

.box-aspect-2-3 {
	/* aspect ratio 2:3 */
	position: relative;
	padding-top: 150%;
}

.card {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 16px;
	background-color: var(--box-bkg);
	transition: background-color 200ms;
}

@media (hover: hover) { /* To eliminate hover effect on mobile */
	.card:hover { background-color: var(--box-hover) }
}

/* ----- BUTTONS ----- */

/* Button Main */
.button-main-new {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 8px;
	color: var(--text-default);
	font-size: var(--s);
	border: solid 1px var(--border-grey);
	border-radius: 8px;
	background-color: var(--button-main);
	white-space: nowrap;
	cursor: pointer;
	-webkit-appearance: none;
	transition: background-color 200ms;
}

/* Button modifier */
.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	line-height: 1;
	text-transform: uppercase;
}

.icon-button img { margin-inline-end: 8px; }

@media (hover: hover) {
	.button-main-new:hover { background-color: var(--box-hover) }
}

/* Small Button with Left Icon(14px) */
.button-icon-small {
	display: flex;
	padding: 2px 6px 2px 4px;
	color: var(--grey500);
	line-height: 1.3;
	font-size: var(--xs);
	font-weight: 500;
	white-space: nowrap;
	border: solid 1px var(--grey500);
	border-radius: 8px;
}

.button-icon-small img {
	margin-inline-end: 4px;
	filter: brightness(1);
}

/* ----- NAVBAR ----- */

#navbar-background {
	display: none;
	position: fixed;
	top: 48px; left: 0;
	z-index: 2;
	min-width: 100vw;
	height: calc(100vh - 48px); /* vh - header height */
	background: rgba(22, 19, 19, 0.5);
}

@media screen and (max-width: 800px) {
	#navbar {
		visibility: hidden;
		position: fixed;
		top: 48px; left: 0;
		z-index: 3;
		padding-block-end: 200px; /* Need to solve scrolling bug*/
		width: 300px;
		max-width: 300px;
		height: 100vh;
		border-right: solid 1px var(--border-grey);
		background-color: var(--background);
		transform: translateX(-110vw);
		will-change: transform;
		transition: transform 200ms;
		overflow-y: scroll;
	}

	#navbar .box { border-radius: 0 }

	#navbar h2 { margin-inline-start: 16px; }
}

.greeting-box h2,
.greeting-box form { margin: 8px 16px }

.greeting-box p { margin: 0 16px 16px }


.panel-ribbon {
	top: 0;
	width: 100%;
}

.panel-ribbon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.greeting-section-default div { 
	margin: 8px 16px 16px;
}

.greeting-section-default a {
	color: var(--text-default);
	text-transform: uppercase;
}

/* ----- SEARCH ----- */

.search {
	position: relative;
	margin-block-end: 24px;
	width: 100%;
	
}

.search button {
	margin: 0;
	border: none;
	border-top-right-radius: 6px; /* To visually fit with the container */
	border-bottom-right-radius: 6px; /* To visually fit with the container */
	background-image: url(/static/icon/gray/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--box-hover);
	height: 100%;
	width: 48px;
	cursor: pointer;
}

.search form {
	display: flex;
	height: 40px;
	align-items: center;
	padding: 0;
	padding-inline-start: 8px;
	background-color: var(--box-bkg);
	border: 1px solid var(--border-grey);
	border-radius: 8px;
	overflow: hidden;
}

input[type=search] {
	width: 100%;
	margin-inline-end: 4px;
	padding: 0;
	border: none;
	color: var(--text-default);
	font-size: var(--m);
	background-color: transparent;
	-webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]:focus {
	outline: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

/* ----- MESSAGE & ALERTS ----- */

/* Error Messages */

.info-error-box {
	margin-block-end: 16px;
}

.info-error-box h2 {
	padding: 8px;
	margin-block-end: 0;
	font-size: var(--l);
	border-left: 12px solid var(--alert-bkg);
}

.information {
	position: relative;
	display: flex;
	width: 100%;
	margin-block-end: 24px;
	padding: 16px;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	background-color: var(--grey500);
}

.information .information-emoji {
	margin-inline-end: 8px;
	font-size: 16px;
	line-height: 1.5;
}

.information p {
	color: var(--white);
	font-size: var(--l);
	font-weight: 500;
}

.information span {
	text-transform: uppercase;
	font-weight: 700;
}

/* ----- COMPANY CARD ----- */
/* Company Card */
.logo-main {
	width: 88px;
	min-width: 88px;
	height: 88px;
	margin-inline-end: 16px;
	border: 1px solid var(--border-img);
	border-radius: 8px;
	overflow: hidden;
}

.logo-main img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.company-card-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	width: 100%;
}

.company-card-info h3 {
	color: var(--text-default);
	font-size: var(--l);
	font-weight: 500;
	text-transform: capitalize;
}

.company-card-info ul {
	margin-block-end: 16px;
}

.company-card-info li {
	display: inline-flex;
	color: var(--text-grey);
	font-size: var(--s);
	margin-inline-end: 16px;
	white-space: nowrap;
}

/* ----- MODIFIERS ----- */

.flow-y {
	overflow-y: scroll;
}

.flow-x {
	overflow-x: scroll;
}

/* Paddings & Margins */
.pad-16 {
	padding: 16px;
}

.margin-t16 {
	margin-top: 16px;
}

.margin-r16 {
	margin-right: 16px;
}

.margin-b16 {
	margin-bottom: 16px;
}

.margin-t-auto {
	margin-top: auto;
}

.center {
	align-self: center;
}

.mobile { /* Display flex on @media 800 and smaller */
	display: none;
}

.sticky {
	position: sticky;
	top: 64px;
}

@media screen and (max-width: 800px)
{
	.sticky { position: relative; }
}

/* LAYOUT CHANGES FOR TABLET DEVICES */
@media screen and (max-width: 800px)
{
	/* ----- CSS TO MAKE THE LAYOUT ----- */
	.container { flex-direction: column }

	/* MENU MOBILE */
	.header-icon { display: inline }

	.header-container { justify-content: flex-start }

	/* ----- MODIFIER ----- */
	.mobile { 
		/* Display none on desktop */
		display: inherit;
	}
}

/* LAYOUT CHANGES FOR MOBILE DEVICES */
@media screen and (max-width: 500px)
{
	body { padding: 0 8px }

	.header-container { padding-inline-end: 8px }
}