/**
 * Main CSS for the webapp
 * Resources
 * Shopify Polaris
 */

/* VARIABLES */
:root {
	/* Colour */
	--black: #161313;
	--grey700: #545151;
	--grey500: #8F8B8B;
	--grey200: #E6E2E2;
	--grey50: #FAFAFA;
	--background: #f6f6f6;
	--white: #FFFFFF;

	--red800: #BE3C32;
	--red500: #EC5540;

	--azure900: #404C99;
	--azure700: #527BCC;

	/* Size */
	--xxl: 2rem; /* 32px */
	--xl: 1.5rem; /* 24px */
	--l: 1.125rem; /* 18px */
	--m: 1rem; /* 16px */
	--s: 0.875rem; /* 14px */
	--xs: 0.75rem; /* 12px */
	
	
	
}

/* GENERAL BODY */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;

	/* Load system fonts */
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
	Roboto, Helvetica Neue, sans-serif;
 
   /* Make type rendering look crisper */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 
   /* Deactivate auto-enlargement of small text in Safari */
   text-size-adjust: 100%;
 
   /* Enable kerning and optional ligatures */
   text-rendering: optimizeLegibility;
}

/**
 * Form elements render using OS defaults,
 * so font-family inheritance must be specifically declared
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-end: 0;
	padding-inline-start: 0;
	padding-block-start: 0;
	padding-block-end: 0;
	line-height: 1.3;
	word-break: break-word;
	list-style: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--azure900);
}

span {
	word-break: keep-all;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 16px;
	min-height: 100vh;
	align-items: center;
	background-color: var(--background);
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
}

hr {
	background-color: var(--grey200);
	width: 100%;
	margin: 0;
	border: 0;
	height: 1px;
}

/* ----- INPUT CSS ----- */
input[type=text],
input[type=url],
input[type=email],
input[type=password],
textarea {
	width: 100%;
	margin: 0 0 8px;
	padding: 4px 8px;
	font-size: var(--m);
	border-radius: 8px;
	border: 1px solid var(--grey200);
	-webkit-appearance: none;
}

textarea {
	resize: vertical;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
	margin: 0 8px 0 0;
	vertical-align: middle;
	cursor: pointer;
}

input::placeholder {
	font-size: var(--s);
	color: var(--grey500);
	white-space: nowrap;
}

/* Details and Summary */
details summary {
	margin-block-end: 16px;
	list-style: none; /* Remove details marker */
}

/* Remove details marker */
details summary::before,
details summary::-webkit-details-marker {
	display:none;
}

details:hover {
	cursor: pointer;
}

details summary:active,
details summary:focus {
	outline-style: none;
}

.edit details summary:hover {
	text-decoration: underline;
	outline-style: none;
}

/* Form and Labels */

.form-layout-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.form-layout-column label {
	font-size: var(--s);
	font-weight: 400;
	color: var(--grey700);
	margin-bottom: 4px;
}

.form-layout-row {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.form-layout-row .form-layout-column {
	margin-right: 16px;
}

/* ----- CSS TO MAKE THE LAYOUT ----- */

.container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin-top: 16px;
	margin-bottom: 24px;
}

.column-left {
	position: static;
	min-width: 280px;
	max-width: 280px;
	height: auto;
	margin-right: 24px;
	align-self: stretch;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto;
}

/* CSS to make image and label layout */
.item-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--s);
	color: var(--black);
	text-align: center;
	word-break: keep-all;
}

.item-label:first-child {
	margin-left: 0
}

.item-label:last-child {
	margin-right: 0;
}

.item-label div {
	margin-bottom: 4px;
}

/* ----- BOXES & CARDS ----- */

.box { /* General box except for the panel of the left */
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: auto;
	margin-bottom: 24px;
	border-radius: 8px;
	background-color: var(--white);
	border: 1px solid var(--grey200);
}

.Aspect2-3 {
	padding-top: 150%; /* aspect ratio 2:3 */
	position: relative;
}

/* CARDS */

.card {
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	background-color: var(--white);
	padding: 16px;
	transition: background-color 200ms;
}

.card:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.card:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

@media (hover: hover) { /* To eliminate hover effect on mobile */
	.card:hover {
		background-color: var(--grey50)
	}
}

/* ----- BUTTONS ----- */

/* Button Main */

.button-main {
	display: flex;
	padding: 7px 8px 8px;
	align-items: center;
	color: var(--black);
	font-size: var(--s);
	line-height: 1.3;
	border: solid 1px var(--black);
	border-radius: 8px;
	background-color: var(--white);
	transition: color 200ms, background-color 200ms;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	-webkit-appearance: none;
}

.button-main a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--black);
}

.button-main:disabled {
	background-color: var(--grey200);
	color:  var(--grey700);
	border-style: none;
	cursor: not-allowed;
}

/* Secondary Button */

.button-second {
	padding: 7px 8px 8px;
	align-items: center;
	color: var(--white);
	font-size: var(--s);
	line-height: 1.3;
	border-radius: 8px;
	border:none;
	background-color: var(--black);
	transition: color 200ms, background-color 200ms;
	cursor: pointer;
	white-space: nowrap;
	-webkit-appearance: none;
}

.button-second:disabled {
	background-color: var(--grey200);
	color:  var(--grey700);
	cursor: not-allowed;
}

/* Button With Left Icon(24px) */

.button-icon {
	display: flex;
	padding: 4px 8px 4px 4px;
	align-items: center;
	color: var(--black);
	font-size: var(--s);
	line-height: 1;
	border: solid 1px var(--black);
	background-color: var(--white);
	border-radius: 8px;
	transition: color 200ms, background-color 200ms;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.button-icon a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: var(--black);
}

.button-icon img {
	margin-inline-end: 4px;
}

.button-close {
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	height: 24px;
	border-radius: 4px;
	overflow: hidden;
}

.button-close:hover {
	background-color: var(--grey200);
}

@media (hover: hover) { /* To eliminate hover effect on mobile */
	.button-icon a:hover {
		color: var(--white);
	}

	.button-icon:hover {
		color: var(--white);
		background-color: var(--black)
	}
	
	.button-icon:hover img {
		filter: invert(100%)
	}
}

/* Small Button with Left Icon(14px) */

.button-icon-small {
	display: flex;
	padding: 2px 6px 2px 4px;
	color: var(--grey500);
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	white-space: nowrap;
	border: solid 1px var(--grey500);
	border-radius: 0.5rem;
}

.button-icon-small img {
	margin: 0 2px 0 0;
}

/* Button Social Circle */

.button-social {
	display: flex;
	background-color: var(--white);
	border-style: solid;
	border-color: var(--black);
	border-width: 1px;
	border-radius: 50%;
	padding: 0;
	transition: color 200ms, background-color 200ms;
}

.button-social img {
	margin: 8px;
}

.button-social:disabled {
	background-color: var(--grey200);
	cursor: not-allowed;
}

/* Pill */

.pill {
	padding: 8px 16px;
	align-items: center;
	background-color: var(--white);
	color: var(--black);
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	border: solid 1px var(--black);
	border-radius: 100px; /* large number to make the shape */
	transition: color 200ms, background-color 200ms;
	cursor: pointer
}

.pill:disabled {
	background-color: var(--grey200);
	color:  var(--grey700);
	border-style: none;
	box-shadow: none;
	cursor: not-allowed;
}

/* Horizontal Icon Label */
.icon-label-h {
	padding: 4px 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color:  var(--grey700);
	font-weight: 400;
}

.icon-label-h img {
	margin-right: 8px;
}

/* Dropdown-caret */
.dropdown-caret {
	display: flex;
	align-items: center;
	padding: 4px;
	color: var(--grey700);
	font-size: var(--m);
	cursor: pointer;
}

.dropdown-caret img {
	margin-inline-start: 4px;
}

/* Buttons Hover */

@media (hover: hover) { /* To eliminate hover effect on mobile */
	/* Button Main */
	.button-main a:hover {
		color: var(--white);
	}
	
	.button-main:hover {
		color: var(--white);
		background-color: var(--black)
	}

	/* Button Secondary */
	.button-second:hover {
		background-color:  var(--grey700);
	}

	/* Button Social */
	.button-social:hover {
		background-color: var(--black);
	}
	
	.button-social:hover img {
		filter: invert(100%);
	}

	/* Pill */
	.pill:hover {
		background-color: var(--grey200);
	}

	/* Icon Label Horizontal */
	.icon-label-h:hover {
		background-color: var(--grey200);
	}
}

/* ----- COMPONENTS ----- */

/* Panel */

.box-panel {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: auto;
	min-height: 20px;
	margin-bottom: 24px;
	border-radius: 8px;
	background-color: var(--white);
	border: 1px solid var(--grey200);
}

/* .box-panel section {
	width: auto;
	padding: 16px;
}

.box-panel h1 {
	margin: 0 0 8px;
	font-weight: 700;
}

.box-panel h2 {
	text-align: center;
	font-size: x-large;
	font-weight: 700;
}

.box-panel h3 {
	margin: 0 0 8px;
}

.box-panel p {
	color:  var(--grey700);
	font-size: medium;
	line-height: 1.3;
	text-align: center;
	margin: 0 0 16px;
}

.box-panel ul {
	margin: 0 16px;
	padding: 0;
	display: flex;}

.box-panel li {
	display: inline;
	margin: 0 4px
} */

.panel-cover {
	height: 28px; /* same as img height */
}

.panel-cover img {
	text-align: center;
	height: 28px;
	object-fit: cover
}

.contact-section {
	align-items: center;
}

.tag-area li {
	color: var(--grey500);
	font-size: x-small;
	line-height: 1.3;
	font-weight: 400;
	margin-right: 8px
}

/* NAVBAR */
.navbar-box {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-block-end: 24px;
	width: 280px;
	border: solid 1px var(--grey200);
	border-radius: 8px;
	overflow: hidden;
	background-color: var(--white);
}

.panel-ribbon {
	top: 0;
	width: 100%;
	height: 34px;
}

.panel-ribbon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.navbar-box section {
	padding: 8px 0;
}

.navbar-box h2,
.navbar-box h3,
.navbar-box p {
	margin-inline-start: 16px;
	margin-inline-end: 16px;
	margin-block-end: 8px;
}

.navbar-box h2 {
	margin-block-start: 4px;
	font-size: var(--xl);
	font-weight: 700;
}

.navbar-box h3 {
	font-size: var(--l);
	font-weight: 500;
}

.navbar-box p {
	color: var(--grey700);
	line-height: 1.5;
}

.navbar-box .icon-label-h {
	padding-inline-start: 16px;
}

.navbar-box form {
	padding: 0 16px;
}

/* HEADER */

.header-bar{
	z-index: 99;
	position: sticky;
	top: 0;
	left: 0;
	height: 48px;
	width: 100vw;
	background-color: var(--white);
	border: 1px solid var(--grey200);
	display: flex;
	justify-content: center}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 16px;
	max-width: 1232px} /* Body max width + padding left and right 16px  */

.header-logo {
	height: 24px;
	margin-inline-end: 32px;
}

.header-icon {
	border-radius: 8px;
	padding: 10px 8px 6px; /* To visually center icon */
	margin-inline-start: -8px;
	margin-inline-end: 8px;
	cursor: pointer;
	display: none;
}

@media (hover: hover) { /* To eliminate hover effect on mobile */
	.header-icon:hover {
		background-color:var(--grey200)
	}
}

/* SEARCH */

.search {
	margin-left: auto;
	width: 400px;
}

.search-icon {
	display: none;
	border-radius: 8px;
	padding: 10px 8px 6px; /* To visually center icon */
	margin-inline-end: 8px;
}

.search form {
	position: relative;
	display: flex;
	align-items: center;
	height: 32px;
	padding: 0;
	padding-inline-start: 8px;
	background-color: var(--white);
	border: 1px solid var(--grey200);
	border-radius: 8px;
}

.search-main {
	display: flex;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
	width: 100%;
	border: none;
	font-size: var(--m);
	color: var(--grey700);
	padding: 0;
	margin-inline-end: 4px;
}

input[type=search]:focus {
	outline: none;
}

.search-btn {
	margin: 0;
	border: none;
	border-top-right-radius: 6px; /* To visually fit with the container */
	border-bottom-right-radius: 6px; /* To visually fit with the container */
	background-image: url(/static/icon/gray/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--grey200);
	height: 100%;
	width: 48px;
	cursor: pointer;
}

.search-suggestion {
	display: none;
	z-index: 1;
	position: absolute;
	top: 40px;left: 0;
	width: 100%;
	min-height: auto;
	background-color: var(--white);
	border: 1px solid var(--grey200);
	border-radius: 8px;
	overflow: hidden;
}

.search-suggestion a {
	color: var(--grey700);
}

.search-suggestion li {
	width: 100%;
	padding: 8px;

	background-image: url(/static/icon/gray/chevron-right.svg);
	background-repeat: no-repeat;
	background-position: 98% center;
}

.search-suggestion li:hover {
	background-color: var(--grey200);
}

/* FOOTER */

footer {
	position: relative;
	width: 100%;
	max-width: 1200px; /* Same as body max width */
	margin-top: auto;
}

footer ul {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 8px 0 24px;
}

footer li {
	margin: 0 16px 8px 0;
	white-space: nowrap;
	font-size: var(--s);
}

footer li:first-child {
	font-weight: 500;
}

footer li:last-child {
	margin-inline-end: 0;
}

footer li a,
footer li a:visited {
	color: var(--grey700);
}

footer li a:hover {
	text-decoration: underline;
}

footer details {
	color: var(--grey700);
}

footer details:hover {
	cursor: pointer;
}

/* Style summary */
footer details summary {
	margin-block-end: 8px;
}

footer details summary span {
	font-weight: 700;
}

footer details summary:hover {
	text-decoration: underline;
}

footer details summary:active,
footer details summary:focus {
	outline-style: none;
	text-decoration: underline;
}

/* Remove details marker */
footer details summary{
	list-style: none;
}

footer details summary::before {
	display: none;
}

footer details summary::-webkit-details-marker {
	display:none;
}

/* Error Messages & Alerts */

.information-error-box {
	width: 100%;
	display: flex;
	margin-bottom: 24px;
	background-color: var(--white);
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid var(--grey200);
}

.information-error-vertical {
	background-color: var(--red800);
	width: 12px;
	min-width: 12px;
}

.information-error-box h2 {
	margin: 16px;
	font-size: var(--l);
	font-weight: 500;
}

/* ----- MODIFIERS ----- */

.flow-y {
	overflow-y: scroll;
}

.flow-x {
	overflow-x: scroll;
}

/* Paddings & Margins */
.pad-16 {
	padding: 16px;
}

.margin-t16 {
	margin-top: 16px;
}

.margin-r16 {
	margin-right: 16px;
}

.margin-b16 {
	margin-bottom: 16px;
}

.margin-t-auto {
	margin-top: auto;
}

.center {
	align-self: center;
}

.mobile { /* Display flex on @media 800 and smaller */
	display: none;
}

.sticky {
	position: sticky;
	top: 64px;
}

@media screen and (max-width: 800px)
{
	.sticky {
		position: relative;
	}
}

.back-top {
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	position: fixed;
	right: 24px;
	bottom: 24px;
	transition: visibility 300ms 200ms ease-in-out,
				opacity 300ms 200ms ease-in-out;
}

/* ----- OTHER ----- */

.visually-hidden { /* SEO - Title of the website */
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;}

/* LAYOUT CHANGES FOR TABLET DEVICES */
@media screen and (max-width: 800px)
{
	/* ----- CSS TO MAKE THE LAYOUT ----- */
	.container {
		flex-direction: column;
	}

	.column-left { /* This makes the column to expand on the entire screen */
		min-width: 100%;
		max-width: 100%;
	}

	/* ----- COMPONENTS ----- */

	.header-icon {
		display: inline
	}

	/* MENU MOBILE */
	.header-container {
		justify-content: flex-start
	}

	/* NAVBAR */
	.column-left {
		display: flex;
	}

	.navbar-box {
		visibility: hidden;
		position: fixed;
		top: 48px; left: 0;
		z-index: 2;
		width: 300px;
		max-width: 300px;
		height: calc(100vh - 48px); /* vh - header height */
		border-radius: 0;
		border: none;
		transform: translateX(-110vw);
		will-change: transform;
		transition: transform 200ms;
	}

	#navbar-background {
		display: none;
		position: fixed;
		top: 48px; left: 0;
		z-index: 1;
		min-width: 100vw;
		height: calc(100vh - 48px); /* vh - header height */
		background: rgba(22, 19, 19, 0.5);
	}

	/* FOOTER */
	footer ul {
		flex-direction: column;
	}

	footer li {
		margin-block-end: 16px;
	}

	footer details summary {
		margin-block-end: 16px;
	}

	/* ----- MODIFIER ----- */

	.mobile { /* Display none on desktop */
		display: inherit;
	}
}

/* LAYOUT CHANGES FOR MOBILE DEVICES */
@media screen and (max-width: 500px)
{
	body {
		padding: 0 8px;
	}

	.header-container {
		padding-right: 8px;
	}

	/* SEARCH */

	.search-fixed {
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--white);
		overflow: hidden;
	}

	.search-fixed .search-icon {
		display: block;
	}

	.search-fixed form {
		height: 48px;
		padding: 0;
		padding-inline-start: 8px;
		background-color: var(--white);
		border-radius: 0;
	}

	.search-fixed .search-btn {
		min-width: 48px;
		border-radius: 0;
	}

	.search-fixed .search-suggestion {
		top: 48px; /* Same as .search form height */
		border-radius: 0;
		border: none;
		display: none;
	}

	.search-suggestion li {
		margin-inline-start: 48px;
	}
}