/* CSS for the Privacy Policy Page */

.privacy-wrapper {
	max-width: 70ch;
	width: 100%;
	text-align: left;
}

body {
	background-color: var(--white-bkg);
	padding-left: 16px;
	padding-right: 16px;
}

section {
	white-space: pre-line;
	margin-block-start: 16px;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
	margin: 0 0 16px
}

h2 {
	margin-bottom: 16px;
	font-weight: 500;
}

h3 {
	margin-bottom: 8px;
}

p {
	margin: 0 0 24px;
	color: var(--text-grey);
}

#privacy-intro span {
	font-weight: 400;
	font-size: smaller;
	color: var(--grey500);
	margin-bottom: 24px;
}

ol {
	margin: 0;
	padding-inline-start: 10px;
	list-style-type: lower-roman;
}

li {
	font-size: medium;
	color: var(--grey500);
	margin: 8px;
}