/* CSS for the Privacy Policy Page */

.privacy-wrapper {
	max-width: 70ch;
	width: 100%;
	text-align: left;
}

body {
	background-color: var(--white);
	padding-left: 16px;
	padding-right: 16px;
}

section {
	margin: 24px 0 12px;
	white-space: pre-line;
}

h1 {
	font-size: 3rem;
	line-height: 1;
	font-weight: 700;
	margin: 8px 0 8px
}

h2 {
	font-size: var(--font-xxl);
	margin-bottom: 16px;
}

h3 {
	font-size: var(--font-l);
	margin-top: 8px;
	margin-bottom: 8px;
}

p {
	margin: 0 0 12px;
}

#privacy-intro span {
	font-weight: 400;
	font-size: var(--font-s);
	color: var(--grey700);
	margin-bottom: 32px;
}

ol {
	margin: 0;
	padding-inline-start: 10px;
	list-style-type: lower-roman;
}

li {
	font-size: var(--font-m);
	color: var(--grey700);
	margin: 8px;
}