/* Admin Control Panel */

.sticky {

}

.boxPanel section {
	padding: 16px 0;
}

.boxPanel h1,
.boxPanel h3 {
	margin: 0 16px 8px;
}

.icon-label-h {
	padding: 4px 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color:  #545151;
	font-weight: 500;
	background-color: #E3E1E1
}

a .icon-label-h {
	background-color: transparent;
	font-weight: 400;
}

.icon-label-h:hover {
	background-color: #E3E1E1;
}

.icon-label-h img {
	margin-right: 8px;
}

/* Table Layout */
/* .column-main table {
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	margin: 0;
}

.column-main thead {
	text-align: center;
	background-color: #E3E1E1;
	border-radius: 8px;
	overflow: hidden;
}

.column-main th {
	padding: 8px;
	margin-bottom: 16px;
	font-size: 0.875rem;
	font-weight: 500;
}

tr:nth-child(even) {
    background-color: #fafafa;
}

.column-main td {
	text-align: center;
	padding: 4px;
	font-size: 0.875rem;
	font-weight: 400;
	color: #545151;
}

table tbody .logo-small {
	margin: auto;
}

table input[type=text] {
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid #E3E1E1;
	font-size: 0.75rem;
	width: 90%
}

table input[type=text]:disabled {
	background-color: #FBF7F7;
}

#entry-id {
	width: 100px;
	min-width: 40px;
}

#entry-button {
	width: 40px;
} */

/* Tags Tab */

.tag-tab td {
	width: auto;
	margin: 4px;
}

/* Form and Labels */

.form-layout-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.form-layout-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
}

.form-label-wrapper {
	margin: 0 0 4px;
}

.form-label {
	font-size: 0.875rem;
	font-weight: 500;
}

.form-input {
	margin: 0;
	padding: 4px 8px;
	border-radius: 8px;
	border: 1px solid #8b8989;
	font-size: 1rem;
}

/* Statistics tab */

#section-table {
	overflow:hidden
}

.scroll-h {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	overflow-x: scroll;
	padding: 8px 16px 16px;
}

#box-table {
	display: flex;
	position: relative;
	overflow:hidden;
	max-width: 500px;
	/* max-width: 500px; instead of 100% of width */
	/* padding: 8px; */
	min-height: 20px;
	margin-bottom: 24px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);
}

#box-table table {
	border-collapse: collapse;
	border-left-style: hidden;
	border-right-style: hidden;
	overflow: hidden;
	margin: 0;
}

#box-table th {
	border: 1px solid #E3E1E1;
	padding: 5px 8px 6px;
	text-align: left;
	color: #8b8989;
	font-size: 0.875rem;
	font-weight: 400;
	min-width: 300px;
}

#box-table tr {
	height: 32px;
}

#box-table td {
	border: 1px solid #E3E1E1;
	padding: 5px 8px 6px;
	text-align: left;
	color: #545151;
	font-size: 0.875rem;
	font-weight: 500;
}