@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	color: #161313;
	background-color: #f6f6f6;
	font-size: 16px;
	margin: 0;
	justify-content: center;
	align-items: center;
	padding: 24px 16px}

section {
	width: 100%;
	display: flex;
	flex-direction: column;}

html {
	scroll-behavior: smooth}

hr {
	background-color: #efeded;
	width: 100%;
	margin: 0;
	border: 0;
	height: 1px}

h1 { /* Title */
	font-size: 1.5rem;
	line-height: 1.3;
	font-weight: 500;
	margin-bottom: 16px;
	margin-block-start: 0}

h2 { /* Subtitle */
	font-size: 1.125rem;
	line-height: 1.3;
	font-weight: 500;
	margin: 0 0 16px}

h3 { /* Company Title */
	color: #161313;
	font-size: 1rem;
	line-height: 1.3;
	font-weight: 700;
	margin-block-start: 0;
	margin-block-end: 0}

p {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 8px}

a {
	text-decoration: none}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
	margin: 0 8px 0 0}

input, label {
	vertical-align: middle;
	cursor: pointer}

label {
	font-weight: 400;
	color: #545151}

dl {
	margin: 16px 16px 16px}

dt {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 700;
	margin: 0 0 16px 0;
	margin-block-start: 0}

dd {
	margin: 0 8px 8px 0;}

/* Position */

.Center {
	align-self: center}

/* CSS TO MAKE THE LAYOUT */

.Container {
	position: static;
	display: flex;
	width: 100%;
	max-width: 1200px;
	justify-content: center;
	margin-top: 48px}

.ColumnLeft {
	position: static;
	min-width: 280px;
	max-width: 280px;
	height: auto;
	margin-right: 24px;
	align-self: stretch}

.ColumnMain {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: auto}

.Sticky {
	position: sticky;
	top: 60px}
	
.Sticky .Button.Center {
	display: none}

.Aspect2-3 {
	padding-top: 150%; /* aspect ratio 2:3 */
	position: relative}

/* TEXT STYLE */

.Tag {
	font-size: 0.75rem;
	line-height: 1.3;
	font-weight: 700;
	border-radius: 8px;
	padding: 4px;
	margin-bottom: 8px}

.Label li {
	color: #8b8989;
	font-size: 0.75rem;
	line-height: 1.3;
	font-weight: 400;
	margin-right: 8px}

.TextButton {
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	color: #161313}

/* BUTTONS */

.Button {
	color: #161313;
	display: flex;
	padding: 8px;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 8px;
	background-color: white;
	overflow: hidden;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
	transition: color 200ms, background-color 200ms;
	cursor: pointer}

.Button:hover {
	color: white;
	background-color: #161313}

.Button:hover img {
	filter: invert(100%)}

.Button img {
	margin-right: 4px}

.Button.Pill {
	padding: 8px 16px;
	font-size: 0.875rem;
	line-height: 1;
	border-radius: 16px;
	font-weight: 500;
	align-self: center;
	margin-bottom: 8px}

.Button.Circle {
	max-width: 40px;
	border-radius: 50%;
	border-width: 2px;
	padding: 0;
	margin-bottom: 4px;}

.Button.Circle img {
	margin: 8px}

.Button.Toggle {
	color: #161313;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	border-style: none;
	border-radius: 0;
	box-shadow: none;
	padding: 4px 0 ;
	margin: 0;
	text-decoration: none;
	transition: color 200ms, background-color 200ms}

.Button.Toggle:hover {
	background-color: #fafafa;
	color: #161313}

.Button.Toggle img {
	filter: none}

.Button.Center {
	align-self: center;
	padding: 2px 4px;
	min-height: 24px}

.Button.Absolute {
	z-index: 1;
	position: absolute;
	padding: 2px 4px;
	right: 24px;
	bottom: 24px}

.Button.ToTop {
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	position: fixed;
	padding: 2px 4px;
	right: 24px;
	bottom: 24px;
	transition: visibility 0.3s linear,opacity 0.3s linear;}

/* HEADER */

.HeaderBar{
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	height: 48px;
	width: 100vw;
	background-color: #ffffff;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center}

.HeaderContainer {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1232px} /* 1200px + 16px padding left and right */

.HeaderLogo {
	margin-left: 16px;
	height: 24px}

.HeaderIcon {
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: none;
	margin-right: 8px}

.HeaderIcon:hover {
	background-color: #fafafa}

/* CARDS */

.Card {
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	background-color: #ffffff;
	padding: 16px;
	transition: background-color 200ms}

.Card:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px}

.Card:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px}

.Card:hover {
	background-color: #fafafa}

/*
.Card:hover h3 {
	text-decoration: underline}
*/

.Logo {
	width: 88px;
	min-width: 88px;
	height: 88px;
	border-radius: 8px;
	overflow: hidden;
	margin-right: 16px}

.Logo img {
	width: 100%;
	height: 100%;
	object-fit: cover}

.CompanyMain {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%}

.CompanyContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 24px}

	.CompanyContent ul {
		padding-inline-start: 0;
		display: flex;
		align-self: left;
		margin: 0 0 8px}

	.CompanyContent li {
		display: inline;
		margin: 4px 12px 0 0}

.Tag.Region {
	display: inline-block;
	color: #8b8989;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #8b8989;
	margin-top: auto;
	margin-right: 8px}

.BadgeArea {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	justify-items: right;
	margin-top: 8px}

/* BOX */

.Box {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 20px;
	margin-bottom: 24px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05)}

.Box.Filter {
	overflow-y: scroll}

/* ABOUT US */

.Hidden {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%}

	.Hidden hr {
		margin: 24px 0 16px}

.Box.About {
	align-items: center}

	.Box.About p {
		color: #545151;
		font-size: 0.875rem;
		line-height: 1.3;
		text-align: center;
		max-width: 90% /* This is to try to replicate padding 16px on left and right */}

	.Box.About ul {
		padding-inline-start: 0;
		display: flex;
		align-self: center;
		margin: 0 0 8px;
		max-width: 90%;/* This is to try to replicate padding 16px on left and right */}

	.Box.About li {
		display: inline;
		margin: 4px}

.AboutCover {
	margin-bottom: 8px}

.AboutCover img {
	width: 100%;
	height: 100%;
	object-fit: cover}

.ItemLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.5rem;
	color: black;
	margin: 4px 16px 0px 0px;
	max-width: 48px;
	text-align: center}

	.ItemLabel:first-child {
		margin-left: 0}

	.ItemLabel img {
		margin-bottom: 4px}

	.ItemLabel span {
		font-size: 0.5rem;
		color: black;
		margin: 0px;
		max-width: 48px;
		text-align: center
	}

.Box.About .Button.Toggle {
	display: none;}


/* BANNER */

.Box.Banner {
	min-height: 230px;
	background-image: linear-gradient(to right, rgba(0,0,0, 0.5), transparent 60%), url("/static/background/ali-yahya-7_AZi5Fe-rU-unsplash.jpg");
	background-size: auto, cover;
	justify-content: center;
	background-position: 0 0, 50% 50%}

.BannerText {
	color: #ffffff;
	margin-left: 24px;
	max-width: 60ch}

.BannerTitle {
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 700;
	margin: 0 0 8px 0}

.BannerSubtitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0}


/* COMPANY PROFILE */

.Box.Profile {
	align-items: center}

	.Box.Profile section {
		margin: 0 0 8px;}

	.Box.Profile h1 {
		line-height: 1.1;
		max-width: 90%;
		text-align: center;
		margin-bottom: 8px}

	.Box.Profile h3 {
		max-width: 90%;
		font-weight: 500;
		text-align: left;
		margin-bottom: 8px;
		align-self: start;
		margin-left: 16px}

	.Box.Profile hr {
		margin-bottom: 16px}

	.Box.Profile ul {
		padding-inline-start: 0;
		display: flex;
		align-self: center;
		margin: 0 0 8px}

	.Box.Profile li {
		display: inline;
		margin: 4px}

	.Box.Profile .Logo {
		margin: 8px 0px 8px}

.CompanyAbout {
	align-items: center;}

	.CompanyAbout .Tag.Region {
		margin: 8px 0px;
	}

/* Instagram Card*/

.InstagramInfo {
	margin: 16px;
	max-width: 40ch}

	.InstagramInfo ul {
		padding-inline-start: 0;
		display: flex;
		margin-bottom: 0}

	.InstagramInfo li {
		display: inline}

	.InstagramInfo .ItemLabel {
		margin: 0 24px 8px 0}

	.InstagramInfo .Number {
		font-size: 1.125rem;
		font-weight: 500;}
	
	.InstagramInfo .Text {
		font-size: 0.875rem}

.InstagramGallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white}

.InstagramRow {
	display: flex;
	justify-content: space-between;
	height: 33%}

.InstagramPicture {
	margin: 0px;
	height: 100%;
	width: 49.7%}

	.InstagramPicture img {
		width: 100%;
		height: 100%;
		object-fit: cover}

/* OTHER */

.VisuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;}

.GoogleReview {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #609BEE;
	color: #161313;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 4px;}

	.GoogleReview .ReviewScale {
		font-size: 10px;
		font-weight: 400;
		position: relative;
		top: 4px}

/* LAYOUT CHANGES FOR TABLET DEVICES */
@media screen and (max-width: 800px)
{
	/* TABLET GENERAL CHANGES */

	.Container {
		flex-direction: column}

	.ColumnLeft {
		min-width: 100%;
        max-width: 100%}

	.HeaderIcon {
		display: inline}

	.Box.Banner {
		min-height: 230px;
		background-image: linear-gradient(to right, rgba(0,0,0, 0.5), rgba(0,0,0,0) 100%), url("/static/background/ali-yahya-7_AZi5Fe-rU-unsplash.jpg");
		background-size: auto, cover;
		justify-content: center;
		background-position: 0 0, 50% 50%}


	/* ABOUT US MOBILE */

	.AboutSocial {
		min-width: 100%;
		margin-right: -4px}

	.Hidden {
		display: none}

	.Box.About .Button.Toggle {
		display: flex;
	}

	/* MENU MOBILE */

	.Box.Filter {
		box-shadow: none;}

	.Sticky {
		z-index: 10;
		display: none;
		flex-direction: column;
		align-content: flex-start;
		position: fixed;
		padding: 16px;
		background-color: white;
		top: 48px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: scroll}

	.Sticky .Button.Center {
		display: flex}

	.menu {
		z-index: 2;
		display: none;
		flex-direction: column;
		align-content: flex-start;
		position: fixed;
		background-color: white;
		top: 48px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: scroll}
	
	.menu .Button.Center {
		margin-bottom: 24px}


	dl {
		margin: 16px 16px 16px}

	dl label {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		border-color: black;
		color: black;
		background-color: white;
		padding: 8px 16px;
		font-size: 0.875rem;
		line-height: 1;
		border-radius: 16px;
		font-weight: 500;
		align-self: center}

	dl input {
		display: none}

	dl input:checked + label {
		color: white;
		background-color: #161313}

	dt {
		font-size: 1rem;
		line-height: 1.5;
		font-weight: 700;
		margin: 0 0 16px 0;
		margin-block-start: 0}

	dd {
		display: inline-block;
		border-radius: 16px;
		transition: color 200ms, background-color 200ms;
		box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05)}
}

/* LAYOUT CHANGES FOR MOBILE DEVICES */
@media screen and (max-width: 500px)
{
	/* BANNER */

	.Box.Banner {
		display: block;
		min-height: 180px;
		background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0,0) 100%), url("/static/background/ali-yahya-7_AZi5Fe-rU-unsplash.jpg");
		background-size: auto, cover;
		background-position: 0 0, 50% 50%}

	.BannerText {
		align-self: flex-start;
		color: #ffffff;
		margin: 16px 0 0 16px;
		max-width: 60ch}

	.BannerTitle {
		font-size: 1.5rem;
		line-height: 1.3;
		font-weight: 500;
		margin: 0 0 8px 0}

	.BannerSubtitle {
		font-size: 1rem;
		list-style: 1.3;
		font-weight: 400;
		margin: 0}

	/* COMPANY CARD */

	.CompanyMain {
		width: 100%;
		display: flex;
		flex-direction: column}

	.Tag.Region {
		margin-top: 16px;
		margin-bottom: 8px}

	.BadgeArea {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-width: 100px;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start}

	.Badge {
		margin-right: 8px;
		margin-left: 0}

}

/* RANDOM CLASSES... */

.Black {
	height: 40px;
	width: 40px;
	background-color: black}

.Box.Test {
	padding-top: 56.25%;
	background-color: blue;
	position: relative}