@import url("https://fonts.googleapis.com/css2?family=Roboto");
body {
	font-family: "Roboto", sans-serif;
	background-color: #F0F0F0;
	font-size: 14px;
	margin: 0px}
a {
	font-weight: bold;
	color: black}
hr {
	margin: 30px 0 15px 0}
.menu {
	line-height:25px;
	padding: 10px;
	position: fixed;
	height: 100%;
	width: 280px;
	color: white;
	background-color: #595757}
.menu .logo {
	margin: 40px;
	text-align: center}
.menu dl {
	margin: 40px 0}
.menu input {
	margin-right: 9px}
.menu dt:first-child,
.content .title {
	margin: 20px 0;
	font-weight: bold;
	font-size: 1.3em}
.content {
	margin-left: 300px;
	padding: 16px}
.content .card {
	display: inline-block;
	width: 250px;
	text-align: left;
	border-radius: 8px;
	margin: 5px;
	padding: 20px;
	background-color: white}
.content .button {
	color: black;
	font-size: .7em;
	border-radius: 20px;
	padding: 5px 9px;
	background-color: #F0F0F0}
.content .hero {
	color: white;
	width: 98%;
	height: 230px;
	margin: 24px 0 50px 0;
	padding-left: 16px;
	border-radius: 8px;
	background-image: linear-gradient(black, transparent), url("brent-gorwin.png");
	background-position: bottom;
	background-size: cover}
.content .card-title {
	font-weight: bold;
	font-size: 1.5em}
.content .geoloc {
	font-weight: normal;
	color: #595757;
	font-size: .7em;
	float: right}
.content .geoloc img {
	margin-right: 5px}